.list-item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item:not(.checked) {
  color: rgba(0, 0, 0, 0.7);
}

.list-item:hover:not(.checked) {
  color: black;
}

.list-item span {
  width: 100%;
}

.checked span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.checked span:hover {
  color: rgba(0, 0, 0, 0.7);
}

.list-item .fa-xmark {
  color: rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  display: none;
  transition: color 0.2s;
  padding: 0 4px;
}

.list-item .fa-xmark:hover {
  color: rgb(255, 55, 135);
}

.list-item:hover .fa-xmark {
  display: block;
}

/* DARK MODE */

.dark .list-item span {
  color: rgb(215, 215, 215);
}

.dark .list-item span:hover {
  color: rgb(255, 255, 255);
}

.dark .checked span {
  color: rgb(132, 132, 132);
}

.dark .checked span:hover {
  color: rgb(202, 202, 202);
}

.dark .list-item .fa-xmark {
  /* display: none; */
  color: rgba(255, 255, 255, 0.2);
}

.dark .list-item .fa-xmark:hover {
  color: rgb(255, 55, 135);
}
