:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 4em 1em;
}

/* DARK MODE */

body {
  transition: background 0.2s;
}

body:has(.dark) {
  background: rgb(40, 40, 40);
}

.dark * {
  color: white;
}

.dark .card,
.dark#navbar {
  background: rgb(61, 61, 61) !important;
}
